extends layout 

block content
    div
        //- Si un utilisateur est connecté
        if user
            //- Lister les articles des personnes qu'il suit
            h2(class="text-2xl text-center m-4 md:text-left") Votre communauté (!{community_articles.length})
            div(class="px-4 grid md:grid-cols-2 lg:grid-cols-3 gap-4")
                each a in community_articles
                    div(class="flex " )
                        include includes/article_info
                else 
                    span Aucun article à afficher
        //- Lister les tous les articles
        h2(class="text-2xl text-center m-4 md:text-left") Eager parrot vous propose (!{all_articles.length})
        div(class="px-4 grid md:grid-cols-2 lg:grid-cols-3 gap-4")
                each a in  all_articles
                    div(class="flex " id="article"+a.id)
                        include includes/article_info
                else 
                    span Aucun article à afficher
