extends layout

block content
  .home 
    h1= title || "Eager Parrot"
    p Welcome to #{title || "Eager Parrot"}

    .actions 
      .action 
        h4 Histoires 
        ul 
          li 
            a(href="/stories") Liste des histoires
          li 
            a(href="/stories/new") Nouvelle histoire
      .action 
        h4 Articles 
        ul 
          li 
            a(href="/articles") Liste des articles 
          li 
            a(href="/articles/new") Nouvel article