extends layout 

block content
    h1(class="text-center text-3xl font-bold text-gray-200 md:text-4xl lg:text-5xl") Eager Parrot
    div
        form(action="/user/signin", method="post", class="sm:mx-auto sm:w-3/4 md:w-3/5 lg:w-5/12 m-4 mt-16 p-4 shadow-lg rounded-lg bg-gray-800")
            h2(class="text-2xl text-center font-bold text-gray-100 pb-8") Connexion 
            if badData && !errors
                p Nom d'utilisateur ou mot de passe invalide !
            div(class="flex flex-col mb-4") 
                input(class="focus:outline-slate-400 rounded-sm p-2 text-gray-800 bg-gray-100" type="text", name="username", placeholder="Nom d'utilisateur..." value = badData ? badData.username : '' autofocus)
                if (errors)
                    span(class="ml-1 text-red-400 text-sm")= errors ? errors.username : ''
            div(class="flex flex-col mb-4")
                input(class="focus:outline-slate-400 rounded-sm p-2 text-gray-800 bg-gray-100" type="password", name="password", placeholder="Mot de passe..." value = badData ? badData.password : '') 
                if (errors)
                    span(class="ml-1 text-red-400 text-sm")= errors ? errors.password : ''
            
            div(class="flex flex-col items-center")
                input(class="cursor-pointer text-slate-100 bg-slate-600 hover:bg-slate-700 px-4 py-1 rounded-lg shadow mb-2" type="submit", value="Sign In") 
                span(class="mb-2") Vous n'avez pas de compte ? 
                a(href="/user/signup" class="cursor-pointer text-slate-100 bg-slate-600 hover:bg-slate-700 px-4 py-1 rounded-lg shadow" ) Créer un compte !
                