/* home */
.home .actions {
  display: flex;
  flex-wrap: wrap;
}

/* sign in and sign up new article*/

.signin ,
.signup ,
.new-article{
  display: flex;
  justify-content: center;
}

.signin form,
.signup form,
.new-article form{
  display: flex;
  flex-direction: column;
}

.signin .input-field,
.signup .input-field,
.new-article .input-field{
  position: relative;
  margin-top: 1.1rem;
  display: flex;
  flex-direction: column;
}

.signin .input-field span,
.signup .input-field span,
.new-article .input-field span{
  color: rgb(188, 22, 22);
  font-size: small;
  line-height: 20px;
  display: inline-block;
  margin-left: 5px;
}

.signin .input-field input,
.signup .input-field input,
.new-article .input-field input{
  padding: 0.4rem;
}

.signin .input-field:first-child,
.signup .input-field:first-child,
.new-article .input-field:first-child{
  margin-bottom: 15rem;
}

.signin form input[type="submit"] ,
.signup form input[type="submit"] ,
.new-article form input[type="submit"] {
  background-color:  #3960bb;
  color: white;
  border-radius: 4px;
  margin-top: 2rem;
  padding: 0.4rem;
}

.new-article form textarea{
  padding: 7px; 
  font-size: 1.1em;
  font-family: 'Times New Roman', Sérif;
}

.new-article form {
  width: 80%;
}
.new-article form textarea{
  display: inline-block;
  resize: vertical;
}

@media (min-width: 972px){
  .new-article form{
    width: calc(972px * 0.8);
  }
}

/* Liste des articles */

.article-list .article{
  border: 1px dotted gray;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

.article-list .article .more-details{
  display: flex;
  flex-direction: column;
}

@media (min-width: 575px) {
  .article-list .articles {
    display: flex;
    flex-wrap: wrap;
  }
  .article-list .article{
    width: 45%;
  }
}

@media (min-width: 920px) {
  .article-list .article{
    width: 27%;
    padding: 5px;
    margin-left: 5px;
  }
}

/* Article details */
.article-details {
  padding: 10px;
}

.article-details .more-details{
  margin: 5px;
}

.article-details .article-body{
  margin: 10px auto;
}

.article-details .more-details span{
  font-weight: bold;
}

.article-details .comment-section form{
  display: flex;
}

.article-details .comment-section form textarea{
  margin-right: 3px;
  resize: vertical;
  flex: 2;
  padding: 4px;
  font-family: 'Times New Roman', Times, serif;
}

.article-details .comment-section{
  margin-top: 20px;
}

@media(min-width: 645px) {
  .article-details .comment-section form textarea{
    width: calc(645px * 0.8);
    flex: none;
  }
}

.article-details .comment-section form input[type="submit"]{
  align-self: flex-end;
  height: auto;
}

/* Bouttons d'action */
.article-details .more-details .actions,
.article-list .more-details .actions{
  margin: 7px;
}
